@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

.main-visual {
  font-family: 'Open Sans', sans-serif;
  background: white;
  margin: 1ex;
  width: 3000px;
}

body {
  background: rgba(240, 240, 224, 1);
}
